*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(6, 20, 95);
}

.banner{
    display: flex;
    justify-content: space-around;
    
}

h1{
    font-size: 56px;
    color: blue;
}

.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}

.player2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    }

.carrés{
    width: 40%;
    height: auto;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 2rem;
}

.carré{
    width: 33.333%;
    height:200px;
    border: 3px solid black;
}

.menu{
    text-align: center;
}
    
.croix{
    background-image: url('img/close_9055094.png');
    background-size: cover;
}

.rond{
    background-image: url('img/moon-phase_1633952.png');
    background-size: cover;
}

#start{
    padding: 2rem;
    background-color: rgb(6, 110, 11);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

p{
    font-size: 40px;
}

h2{
    font-size: 40px; 
}

@media screen and (max-width: 480px) {
    .banner img{
        display: none;
    }

    .carré{
        
        height:100px;
        
    }

    .carrés{
        position: absolute;
        top: 20%;
        width: 100%;
        
    }
  }
